<li><%=current_user.email%></li>

<li><%=current_user.name%></li>
<li><%=current_user.nickname%></li>
<li><%= image_tag current_user.image.gsub("_normal", "") %></li>
<li><%=current_user.location%></li>

<li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>